/* ============================================================

320 and Up by Andy Clarke
Version: 3.0
URL: http://stuffandnonsense.co.uk/projects/320andup/
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

============================================================ */
/* Reset =================================================== */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* Variables =================================================== */
/* Mixins =================================================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}
/* Page =================================================== */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
html {
  background: #ffffff;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0em;
  width: 100%;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #000000;
}
div#content {
  margin: auto;
  padding: 10px;
  margin-top: 50px;
  background-color: #ffffff;
  width: 390px;
  height: auto;
  border-radius: 16px;
}
#header {
  margin: auto;
  width: 100%;
  height: 50px;
  background-color: #c5c7ce;
  text-align: center;
  font-size: 25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
#header a {
  text-decoration: none;
  color: black;
}
#head1 {
  background-color: #8BA170;
  float: left;
  width: 16.666666666666668%;
  height: inherit;
  padding-top: 25px;
}
#head2 {
  background-color: #b9c9fe;
  float: left;
  width: 16.666666666666668%;
  height: inherit;
  padding-top: 25px;
}
#head3 {
  background-color: #03138f;
  float: left;
  width: 16.666666666666668%;
  height: inherit;
  padding-top: 25px;
}
#head3 a {
  text-decoration: none;
  color: #ffffff;
}
#head4 {
  background-color: #c5c7ce;
  float: left;
  width: 16.666666666666668%;
  height: inherit;
  padding-top: 25px;
}
#head5 {
  background-color: #808080;
  float: left;
  width: 16.666666666666668%;
  height: inherit;
  padding-top: 25px;
}
#head6 {
  background-color: #ffffff;
  float: left;
  width: 16.666666666666668%;
  height: inherit;
  padding-top: 25px;
}
/* Typography =================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small {
  font-weight: normal;
  color: #bfbfbf;
}
h1,
.h1 {
  margin-bottom: Infinityem;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
}
h2,
.h2 {
  margin-bottom: 0.75em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
}
h3,
.h3 {
  margin-bottom: 1em;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3;
}
h4,
.h4 {
  margin-bottom: 1.5em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
}
h5,
.h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
}
h6,
.h6 {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header h1,
.header h2,
.header h3 {
  float: left;
  margin-right: 24px;
}
.header h1 a,
.header h2 a,
.header h3 a {
  display: block;
  position: relative;
  top: 6px;
  float: right;
  padding: 4px 12px;
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #f3f5f6;
}
.header h1:hover,
.header h2:hover,
.header h3:hover {
  background-color: #f3f5f6;
}
.header .a-rss,
.header .a-rss:hover {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0;
  background: transparent url(../img/a-rss.png) no-repeat 0 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}
small {
  font-size: 14px;
  font-size: 1.4rem;
}
ul,
ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 24px;
}
li ul,
li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}
blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 2px solid #c7ced6;
  font-family: Cambria, Georgia, Times, "Times New Roman";
  font-style: normal;
}
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
cite {
  font-style: normal;
}
dl,
dd {
  margin-bottom: 1.5em;
}
dt {
  font-weight: bold;
}
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 22.78%;
}
abbr[title] {
  border-bottom: 1px dotted #c7ced6;
  cursor: help;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
ins {
  background-color: #f3f5f6;
  color: #000000;
  text-decoration: none;
}
mark {
  background-color: #f3f5f6;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baselineheight;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Colour =================================================== */
a {
  text-decoration: none;
  color: #013568;
}
a:visited {
  color: #000203;
}
a:hover {
  text-decoration: underline;
  color: #011b35;
}
a:focus {
  outline: thin dotted;
  color: #000000;
}
a:hover,
a:active {
  outline: 0;
}
::-moz-selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}
::selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}
.swatch {
  margin: 0 0 1.5em 0;
  padding: 0;
}
.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
}
.swatch-row-one {
  background-color: #000000;
}
.swatch-row-two {
  background-color: #ffffff;
}
.swatch-row span {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}
.swatch-base span:nth-child(1) {
  background-color: rgba(45, 53, 62, 0.9);
}
.swatch-base span:nth-child(2) {
  background-color: rgba(45, 53, 62, 0.8);
}
.swatch-base span:nth-child(3) {
  background-color: rgba(45, 53, 62, 0.7);
}
.swatch-base span:nth-child(4) {
  background-color: rgba(45, 53, 62, 0.6);
}
.swatch-alert span:nth-child(1) {
  background-color: rgba(252, 248, 227, 0.9);
}
.swatch-alert span:nth-child(2) {
  background-color: rgba(252, 248, 227, 0.8);
}
.swatch-alert span:nth-child(3) {
  background-color: rgba(252, 248, 227, 0.7);
}
.swatch-alert span:nth-child(4) {
  background-color: rgba(252, 248, 227, 0.6);
}
.swatch-error span:nth-child(1) {
  background-color: rgba(218, 78, 73, 0.9);
}
.swatch-error span:nth-child(2) {
  background-color: rgba(218, 78, 73, 0.8);
}
.swatch-error span:nth-child(3) {
  background-color: rgba(218, 78, 73, 0.7);
}
.swatch-error span:nth-child(4) {
  background-color: rgba(218, 78, 73, 0.6);
}
.swatch-info span:nth-child(1) {
  background-color: rgba(217, 237, 247, 0.9);
}
.swatch-info span:nth-child(2) {
  background-color: rgba(217, 237, 247, 0.8);
}
.swatch-info span:nth-child(3) {
  background-color: rgba(217, 237, 247, 0.7);
}
.swatch-info span:nth-child(4) {
  background-color: rgba(217, 237, 247, 0.6);
}
.swatch-success span:nth-child(1) {
  background-color: rgba(92, 183, 92, 0.9);
}
.swatch-success span:nth-child(2) {
  background-color: rgba(92, 183, 92, 0.8);
}
.swatch-success span:nth-child(3) {
  background-color: rgba(92, 183, 92, 0.7);
}
.swatch-success span:nth-child(4) {
  background-color: rgba(92, 183, 92, 0.6);
}
.swatch-warning span:nth-child(1) {
  background-color: rgba(250, 167, 51, 0.9);
}
.swatch-warning span:nth-child(2) {
  background-color: rgba(250, 167, 51, 0.8);
}
.swatch-warning span:nth-child(3) {
  background-color: rgba(250, 167, 51, 0.7);
}
.swatch-warning span:nth-child(4) {
  background-color: rgba(250, 167, 51, 0.6);
}
/* Texture =================================================== */
.alert {
  margin-bottom: 1.5em;
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #f2e187;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: #9c8611;
}
.alert .alert-heading {
  color: inherit;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  float: right;
  font-size: 21px;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 18px;
  color: inherit;
}
.alert-success {
  background-color: #c5e6c5;
  border-color: #a2d6a2;
  color: #347834;
}
.alert-warning {
  background-color: #fee7c7;
  border-color: #fcd296;
  color: #c17305;
}
.alert-error {
  background-color: #f4cac8;
  border-color: #eba19e;
  color: #da4f49;
}
.alert-inverse {
  background-color: #414141;
  border-color: #000000;
  color: #ffffff;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block .alert-heading {
  margin-bottom: 0.1875em;
  font-size: inherit;
  font-weight: bold;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
.badge {
  padding: 1px 9px 2px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  color: #808080;
  background-color: #e6e6e6;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -ms-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear;
}
.badge:hover {
  color: #808080;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #da4f49;
  color: #ffffff;
}
.badge-error:hover {
  background-color: #9d2520;
  color: #ffffff;
}
.badge-warning {
  background-color: #faa732;
  color: #ffffff;
}
.badge-warning:hover {
  background-color: #c17305;
  color: #ffffff;
}
.badge-success {
  background-color: #5bb75b;
  color: #ffffff;
}
.badge-success:hover {
  background-color: #347834;
  color: #ffffff;
}
.badge-info {
  background-color: #d9edf7;
  color: #247fad;
}
.badge-info:hover {
  background-color: #85c5e5;
}
.badge-inverse {
  background-color: #414141;
  color: #ffffff;
}
.badge-inverse:hover {
  background-color: #0e0e0e;
  color: #ffffff;
}
.basegrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d353e), to(#181c20));
  background-image: -webkit-linear-gradient(top, #2d353e, #181c20);
  background-color: #181c20;
  background-image: -moz-linear-gradient(top, #2d353e, #181c20);
  background-image: -ms-linear-gradient(top, #2d353e, #181c20);
  background-image: -o-linear-gradient(top, #2d353e, #181c20);
  background-image: linear-gradient(top, #2d353e, #181c20);
  background-repeat: repeat-x;
}
.errorgrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d353e), to(#c72f29));
  background-image: -webkit-linear-gradient(top, #2d353e, #c72f29);
  background-color: #c72f29;
  background-image: -moz-linear-gradient(top, #2d353e, #c72f29);
  background-image: -ms-linear-gradient(top, #2d353e, #c72f29);
  background-image: -o-linear-gradient(top, #2d353e, #c72f29);
  background-image: linear-gradient(top, #2d353e, #c72f29);
  background-repeat: repeat-x;
}
.greygrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d9d9d9));
  background-image: -webkit-linear-gradient(top, #ffffff, #d9d9d9);
  background-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -ms-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -o-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: linear-gradient(top, #ffffff, #d9d9d9);
  background-repeat: repeat-x;
}
.infograd {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9edf7), to(#afd9ee));
  background-image: -webkit-linear-gradient(top, #d9edf7, #afd9ee);
  background-color: #afd9ee;
  background-image: -moz-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: -ms-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: -o-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: linear-gradient(top, #d9edf7, #afd9ee);
  background-repeat: repeat-x;
}
.inversegrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#272727));
  background-image: -webkit-linear-gradient(top, #414141, #272727);
  background-color: #272727;
  background-image: -moz-linear-gradient(top, #414141, #272727);
  background-image: -ms-linear-gradient(top, #414141, #272727);
  background-image: -o-linear-gradient(top, #414141, #272727);
  background-image: linear-gradient(top, #414141, #272727);
  background-repeat: repeat-x;
}
.successgrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bb75b), to(#449b44));
  background-image: -webkit-linear-gradient(top, #5bb75b, #449b44);
  background-color: #449b44;
  background-image: -moz-linear-gradient(top, #5bb75b, #449b44);
  background-image: -ms-linear-gradient(top, #5bb75b, #449b44);
  background-image: -o-linear-gradient(top, #5bb75b, #449b44);
  background-image: linear-gradient(top, #5bb75b, #449b44);
  background-repeat: repeat-x;
}
.warninggrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faa732), to(#f39106));
  background-image: -webkit-linear-gradient(top, #faa732, #f39106);
  background-color: #f39106;
  background-image: -moz-linear-gradient(top, #faa732, #f39106);
  background-image: -ms-linear-gradient(top, #faa732, #f39106);
  background-image: -o-linear-gradient(top, #faa732, #f39106);
  background-image: linear-gradient(top, #faa732, #f39106);
  background-repeat: repeat-x;
}
.well {
  min-height: 21px;
  padding: 11px;
  margin-bottom: 1.5em;
  background-color: #f3f5f6;
  border: 1px solid #b8c1cb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px #d6dbe1;
  -moz-box-shadow: inset 0 1px 10px #d6dbe1;
  box-shadow: inset 0 1px 10px #d6dbe1;
}
.well p:last-child {
  margin-bottom: 0;
}
.well-large {
  padding: 22px;
}
.well-small {
  padding: 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* Font Awesome: http://fortawesome.github.com/Font-Awesome/

License
-------------------------------------------------------
The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
http://creativecommons.org/licenses/by/3.0/ A mention of
'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
source code is considered acceptable attribution (most common on the web).
If human readable source code is not available to the end user, a mention in
an 'About' or 'Credits' screen is considered acceptable (most common in desktop
or mobile software). */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
/* \f020 is not a valid unicode character. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
/* Elements =================================================== */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c7ced6;
  border-bottom: 1px solid #ffffff;
}
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin-bottom: 1.5em;
}
figure img {
  margin-bottom: 0.375em;
}
figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: #808080;
}
.list-bordered {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
.list-bordered li {
  margin-bottom: 0.375em;
  padding-bottom: 0.375em;
  border-bottom: 1px dashed #c7ced6;
}
.list-bordered li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
}
/* Forms =================================================== */
form {
  margin: 0 0 1.5em 0;
}
form fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
form legend {
  display: block;
  width: 100%;
  margin-bottom: 3em;
  *margin-left: -7px;
  padding: 0;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #8c9bab;
  white-space: normal;
}
form legend small {
  font-size: 14px;
  font-size: 1.4rem;
  color: #bfbfbf;
}
form p {
  margin-bottom: 0.75em;
}
form ul {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
form br {
  display: none;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-size: 1.4rem;
  vertical-align: baseline;
  *vertical-align: middle;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
label {
  display: block;
  margin-bottom: 0.1875em;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}
label input,
label textarea,
label select {
  display: block;
}
input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 0.375em;
  background-color: #ffffff;
  border: 1px solid #8c9bab;
  color: #000000;
}
input:hover,
textarea:hover,
select:hover {
  border-color: #586879;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #bfbfbf;
  width: 300px;
  height: auto;
  cursor: pointer;
  *overflow: visible;
}
select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px;
}
select {
  width: auto;
  background-color: #ffffff;
  font-size: 13px;
  font-size: 1.3rem;
}
select[multiple],
select[size] {
  height: auto;
}
textarea {
  resize: vertical;
  height: auto;
  overflow: auto;
  vertical-align: top;
}
input[type="hidden"] {
  display: none;
}
.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed;
}
input:focus,
textarea:focus {
  border-color: #2d353e, 40%;
  outline: 0;
  outline: thin dotted \9;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}
input:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}
.help-block,
.help-inline {
  color: #808080;
}
.help-block {
  display: block;
  margin-bottom: 0.75em;
}
.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}
.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0;
}
.form-inline label {
  display: inline-block;
}
.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}
.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0;
}
.form-search .search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.form-search label {
  display: inline-block;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}
/* Buttons =================================================== */
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 6px 11px 6px;
  margin-bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5em;
  color: #404040;
  text-align: center;
  vertical-align: middle;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d9d9d9));
  background-image: -webkit-linear-gradient(top, #ffffff, #d9d9d9);
  background-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -ms-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -o-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: linear-gradient(top, #ffffff, #d9d9d9);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  *margin-left: .3em;
}
.btn:visited,
.btn:hover {
  color: #404040;
  text-decoration: none;
}
input[type="submit"].btn:hover {
  border-color: #cccccc;
}
.btn:first-child {
  *margin-left: 0;
}
.btn-disabled {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default;
}
.btn-error {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d353e), to(#c72f29));
  background-image: -webkit-linear-gradient(top, #2d353e, #c72f29);
  background-color: #c72f29;
  background-image: -moz-linear-gradient(top, #2d353e, #c72f29);
  background-image: -ms-linear-gradient(top, #2d353e, #c72f29);
  background-image: -o-linear-gradient(top, #2d353e, #c72f29);
  background-image: linear-gradient(top, #2d353e, #c72f29);
  background-repeat: repeat-x;
  border-color: #b22a24;
  border-bottom-color: #9d2520;
  color: #ffffff;
}
.btn-error:visited,
.btn-error:hover {
  color: #ffffff;
}
.btn-info {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9edf7), to(#afd9ee));
  background-image: -webkit-linear-gradient(top, #d9edf7, #afd9ee);
  background-color: #afd9ee;
  background-image: -moz-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: -ms-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: -o-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: linear-gradient(top, #d9edf7, #afd9ee);
  background-repeat: repeat-x;
  border-color: #9acfea;
  border-bottom-color: #85c5e5;
  color: #247fad;
}
.btn-info:visited,
.btn-info:hover {
  color: #247fad;
}
.btn-inverse {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#272727));
  background-image: -webkit-linear-gradient(top, #414141, #272727);
  background-color: #272727;
  background-image: -moz-linear-gradient(top, #414141, #272727);
  background-image: -ms-linear-gradient(top, #414141, #272727);
  background-image: -o-linear-gradient(top, #414141, #272727);
  background-image: linear-gradient(top, #414141, #272727);
  background-repeat: repeat-x;
  border-color: #1b1b1b;
  border-bottom-color: #0e0e0e;
  color: #ffffff;
}
.btn-inverse:visited,
.btn-inverse:hover {
  color: #ffffff;
}
.btn-primary {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d353e), to(#181c20));
  background-image: -webkit-linear-gradient(top, #2d353e, #181c20);
  background-color: #181c20;
  background-image: -moz-linear-gradient(top, #2d353e, #181c20);
  background-image: -ms-linear-gradient(top, #2d353e, #181c20);
  background-image: -o-linear-gradient(top, #2d353e, #181c20);
  background-image: linear-gradient(top, #2d353e, #181c20);
  background-repeat: repeat-x;
  border-color: #0d0f12;
  border-bottom-color: #020203;
  color: #ffffff;
}
.btn-primary:visited,
.btn-primary:hover {
  color: #ffffff;
}
.btn-success {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bb75b), to(#449b44));
  background-image: -webkit-linear-gradient(top, #5bb75b, #449b44);
  background-color: #449b44;
  background-image: -moz-linear-gradient(top, #5bb75b, #449b44);
  background-image: -ms-linear-gradient(top, #5bb75b, #449b44);
  background-image: -o-linear-gradient(top, #5bb75b, #449b44);
  background-image: linear-gradient(top, #5bb75b, #449b44);
  background-repeat: repeat-x;
  border-color: #3c893c;
  border-bottom-color: #347834;
}
.btn-warning {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faa732), to(#f39106));
  background-image: -webkit-linear-gradient(top, #faa732, #f39106);
  background-color: #f39106;
  background-image: -moz-linear-gradient(top, #faa732, #f39106);
  background-image: -ms-linear-gradient(top, #faa732, #f39106);
  background-image: -o-linear-gradient(top, #faa732, #f39106);
  background-image: linear-gradient(top, #faa732, #f39106);
  background-repeat: repeat-x;
  border-color: #da8205;
  border-bottom-color: #c17305;
}
.btn-extlarge {
  padding: 11px 22px;
  font-size: 21px;
  font-size: 2.1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
.btn-large {
  padding: 11px 22px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn-small {
  padding: 6px 10px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 16px;
}
.btn-mini {
  padding: 3px 5px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
}
.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
  margin-bottom: 1.5em;
}
.btn-group .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group .btn:first-child {
  margin-left: 0;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn-group .btn:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn-group .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn-group .btn.large:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn-toolbar {
  clear: both;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* Tables =================================================== */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
table th,
table td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #8c9bab;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: left;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #8c9bab;
}
table tbody tr td,
table tbody tr th {
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -ms-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #a9b4c1;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #8c9bab;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #8c9bab;
}
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #c7ced6;
}
@media print {
  /* Print =================================================== */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  @page  {
    margin: 0.5cm;
  }
  h2,
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  pre,
  blockquote {
    border: 1px solid #808080;
    page-break-inside: avoid;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
}
@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
}
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
}
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
  html {
    background: #e6e6e6;
  }
}
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
  html {
    background: #bfbfbf;
  }
}
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
  body {
    max-width: 100%;
  }
  html {
    background: #808080;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 2x =================================================== */
}
/* 320 and Up */
/* Modules upstart */
/* Version: 1.0 */
/* Author: Andy Clarke */
/* URL: http://stuffandnonsense.co.uk/projects/320andup */
.grid {
  margin-bottom: 1.5em;
  border-bottom: 1px dashed #c7ced6;
}
.grid:last-child {
  margin-bottom: 0;
  border-bottom-width: 0;
}
.furniture-letter {
  overflow: hidden;
}
.furniture-letter span {
  display: block;
  float: left;
  margin: 0 12px 0 0;
  height: 44px;
  width: 44px;
  background-color: #2d353e;
  color: #ffffff;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  /* Styles */
}
@media only screen and (min-width: 600px) {
  /* Styles */
}
@media only screen and (min-width: 768px) {
  .grids-two .grid {
    width: 43.03%;
    margin-bottom: 0;
    border-bottom-width: 0;
  }
  .grids-two .grid-1 {
    float: left;
  }
  .grids-two .grid-2 {
    float: right;
  }
  .grids-three .grid-a {
    float: left;
    width: 31.64%;
    margin-right: 2.53%;
  }
  .grids-four .grid-a {
    float: left;
    width: 31.64%;
    margin-right: 2.53%;
  }
}
@media only screen and (min-width: 992px) {
  .grids-three .grid {
    float: left;
    width: 31.64%;
    margin: 0 2.53% 0 0;
    border-bottom-width: 0;
  }
  .grids-three .grid-3 {
    float: right;
    margin-right: 0;
  }
  .grids-three .grid .grid-a {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.75em;
  }
  .grids-four .grid {
    float: left;
    width: 20.25%;
    margin: 0 6.32% 0 0;
    border-bottom-width: 0;
  }
  .grids-four .grid-4 {
    float: right;
    margin-right: 0;
  }
  .grids-four .grid .grid-a {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1382px) {
  /* Styles */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/* 320 and Up */
/* Panels Upstart */
/* Version: 1.0 */
/* Author: Andy Clarke */
/* URL: http://stuffandnonsense.co.uk/projects/320andup */
.full {
  margin-bottom: 1.5em;
  padding: 1.5em;
  background-color: #f3f5f6;
  border-top: 2px solid #c7ced6;
  border-bottom: 2px solid #c7ced6;
}
.full .grids {
  width: 90%;
  margin: 0 auto;
  padding: 1.5em 0;
}
@media only screen and (min-width: 480px) {
  /* Styles */
}
@media only screen and (min-width: 600px) {
  /* Styles */
}
@media only screen and (min-width: 768px) {
  .special .grids-three .grid-a,
  .special .grids-four .grid-a {
    width: 43.03%;
  }
}
@media only screen and (min-width: 992px) {
  .special .grids-three .grid-a,
  .special .grids-four .grid-a {
    width: 100%;
  }
}
@media only screen and (min-width: 1382px) {
  /* Styles */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
