// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Page =================================================== */

// 1. ROOT 					==============================

@-webkit-viewport { 
width : device-width; }

@-moz-viewport { 
width : device-width; }

@-ms-viewport { 
width : device-width; }

@-o-viewport { 
width : device-width; }

@viewport { 
width : device-width; }

html {
background : @bodycolor; 
font-size : 62.5%;
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : lighten(@basecolor, 75%); 
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

body { 
margin : 0;
padding : 0em;
width : 100%;
background-color : transparent;
font-family : @basefont;
.font-size();
line-height : @baselineheight;
color : @textcolor; }

div#content {
	margin: auto;
	padding: 10px;
	margin-top: 50px;
	background-color: @white;
	width: 390px;
	height: auto;
	border-radius:16px;
}

#header {
	margin: auto;
	width: 100%;
	height: 50px;
	background-color: #c5c7ce;
	text-align: center;
	font-size: 25px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	}

#header a {
	text-decoration: none;
	color: black;
}

@headbuttonpercent : 100% /6;

#head1 {
	background-color: #8BA170;
	float: left;
	width: @headbuttonpercent;
	height: inherit;
	padding-top: 25px;
}
		
#head2 {
	background-color: #b9c9fe;
	float: left;
	width: @headbuttonpercent;
	height: inherit;
	padding-top: 25px;

}

#head3 {
	background-color: #03138f;
	float: left;
	width: @headbuttonpercent;
	height: inherit;
	padding-top: 25px;
}

#head3 a {
	text-decoration: none;
	color: #ffffff;
}

#head4 {
	background-color: #c5c7ce;
	float: left;
	width: @headbuttonpercent;
	height: inherit;
	padding-top: 25px;

}

#head5 {
	background-color: @grey;
	float: left;
	width: @headbuttonpercent;
	height: inherit;
	padding-top: 25px;

}

#head6 {
	background-color: @white;
	float: left;
	width: @headbuttonpercent;
	height: inherit;
	padding-top: 25px;

}

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================